<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
<!-- Buttons Section -->
<div class="container">
    <div class="row">
        <div class="main">
            <button type="button" class="btn btn-block btn-link">Link</button>
            <button type="button" class="btn btn-block btn-default">Default</button>
            <button type="button" class="btn btn-block btn-primary">Primary</button>
            <button type="button" class="btn btn-block btn-info">Info</button>
            <button type="button" class="btn btn-block btn-success">Success</button>
            <button type="button" class="btn btn-block btn-warning">Warning</button>
            <button type="button" class="btn btn-block btn-danger">Danger</button>
        </div>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>
